.dashboard-student-new {
  width: 100%;
  min-width: 1280px;
  height: 100vh;
  min-height: 850px;
  position: relative;
  overflow: hidden;
  margin: 0;
  background: rgba(255, 255, 255, 1.0)
}

a {
  text-decoration: none
}

div {
  -webkit-text-size-adjust: none
}

.dashboard-student-new .rectangle {
  background: rgba(52, 52, 52, 1.0);
  top: 0;
  height: 56px;
  width: 1280px;
  position: absolute;
  margin: 0;
  left: 0
}

.dashboard-student-new .rectangle5 {
  background: rgba(126, 210, 33, 1.0);
  top: 14px;
  height: 31px;
  width: 81px;
  position: absolute;
  margin: 0;
  left: 1183px
}

.dashboard-student-new .studentusername {
  background: rgba(255, 255, 255, 0.0);
  top: 22px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1045px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(126, 210, 33, 1.0);
  text-align: right;
  line-height: 16.0px;
  text-decoration: underline
}

.dashboard-student-new .logout {
  background: rgba(255, 255, 255, 0.0);
  top: 22px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1200px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(74, 73, 74, 1.0);
  text-align: center;
  line-height: 16.0px
}

.dashboard-student-new .about-the-team {
  background: rgba(255, 255, 255, 0.0);
  top: 21px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 815px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(126, 210, 33, 1.0);
  text-align: center;
  line-height: 16.0px
}

.dashboard-student-new .support {
  background: rgba(255, 255, 255, 0.0);
  top: 21px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 963px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(126, 210, 33, 1.0);
  text-align: center;
  line-height: 16.0px
}

.dashboard-student-new .contact-us {
  background: rgba(255, 255, 255, 0.0);
  top: 21px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 689px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(126, 210, 33, 1.0);
  text-align: center;
  line-height: 16.0px
}

.dashboard-student-new .rectangle12 {
  background: rgba(228, 228, 228, 1.0);
  top: 55px;
  height: 56px;
  width: 1280px;
  position: absolute;
  margin: 0;
  left: 0
}

.dashboard-student-new .view1 {
  background: rgba(185, 185, 185, 1.0);
  top: 55px;
  height: 56px;
  width: 142px;
  position: absolute;
  margin: 0;
  left: 0
}

.dashboard-student-new .view2 {
  background: rgba(228, 228, 228, 1.0);
  top: 55px;
  height: 56px;
  width: 142px;
  position: absolute;
  margin: 0;
  left: 142px
}

.dashboard-student-new .view3 {
  background: rgba(228, 228, 228, 1.0);
  top: 55px;
  height: 56px;
  width: 142px;
  position: absolute;
  margin: 0;
  left: 284px
}

.dashboard-student-new .view4 {
  background: rgba(228, 228, 228, 1.0);
  top: 55px;
  height: 56px;
  width: 142px;
  position: absolute;
  margin: 0;
  left: 426px
}

.dashboard-student-new .search {
  background: rgba(255, 255, 255, 0.0);
  top: 75px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 190px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(74, 73, 74, 1.0);
  text-align: center;
  line-height: 16.0px
}

.dashboard-student-new .requests {
  background: rgba(255, 255, 255, 0.0);
  top: 75px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 324px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(74, 73, 74, 1.0);
  text-align: center;
  line-height: 16.0px
}

.dashboard-student-new .messages {
  background: rgba(255, 255, 255, 0.0);
  top: 75px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 464px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(74, 73, 74, 1.0);
  text-align: center;
  line-height: 16.0px
}

.dashboard-student-new .dashboard {
  background: rgba(255, 255, 255, 0.0);
  top: 75px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 36px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(74, 73, 74, 1.0);
  text-align: center;
  line-height: 16.0px
}

.dashboard-student-new .group {
  background: rgba(255, 255, 255, 0.0);
  top: 7px;
  height: 40px;
  width: 142px;
  position: absolute;
  margin: 0;
  left: 13px
}

.dashboard-student-new .group .beakr {
  background: rgba(255, 255, 255, 0.0);
  top: 8px;
  height: 31px;
  width: 110px;
  position: absolute;
  margin: 0;
  left: 32px
}

.dashboard-student-new .group .beaker-full {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 40px;
  width: 26px;
  position: absolute;
  margin: 0;
  left: 0
}

.dashboard-student-new .group .beaker-full .beaker {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 40px;
  width: 26px;
  position: absolute;
  margin: 0;
  left: 0
}

.dashboard-student-new .group .beaker-full .beaker .combined-shape {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 40px;
  width: 26px;
  position: relative;
  margin: 0;
  left: 0
}

.dashboard-student-new .group .beaker-full .image1 {
  background: rgba(255, 255, 255, 0.0);
  top: 21px;
  height: 18px;
  width: 24px;
  position: absolute;
  margin: 0;
  left: 1px
}

.dashboard-student-new .group .beaker-full .oval4 {
  background: rgba(217, 255, 175, 1.0);
  top: 29px;
  height: 8px;
  width: 8px;
  position: absolute;
  margin: 0;
  left: 7px;
  border-radius: 4px
}

.dashboard-student-new .group .beaker-full .view5 {
  background: rgba(217, 255, 175, 1.0);
  top: 25px;
  height: 5px;
  width: 6px;
  position: absolute;
  margin: 0;
  left: 12px;
  border-radius: 3px
}

.dashboard-student-new .group .beaker-full .view6 {
  background: rgba(217, 255, 175, 1.0);
  top: 31px;
  height: 3px;
  width: 3px;
  position: absolute;
  margin: 0;
  left: 16px;
  border-radius: 1px
}

.dashboard-student-new .group2 {
  background: rgba(255, 255, 255, 0.0);
  top: 242px;
  height: 467px;
  width: 135px;
  position: absolute;
  margin: 0;
  left: 923px
}

.dashboard-student-new .group2 .oval {
  background: rgba(217, 255, 175, 1.0);
  top: 391px;
  height: 76px;
  width: 74px;
  position: absolute;
  margin: 0;
  left: 0;
  border-radius: 37px
}

.dashboard-student-new .group2 .view7 {
  background: rgba(217, 255, 175, 1.0);
  top: 229px;
  height: 79px;
  width: 76px;
  position: absolute;
  margin: 0;
  left: 22px;
  border-radius: 38px
}

.dashboard-student-new .group2 .view8 {
  background: rgba(217, 255, 175, 1.0);
  top: 330px;
  height: 42px;
  width: 41px;
  position: absolute;
  margin: 0;
  left: 94px;
  border-radius: 20px
}

.dashboard-student-new .group2 .view9 {
  background: rgba(217, 255, 175, 1.0);
  top: 105px;
  height: 41px;
  width: 39px;
  position: absolute;
  margin: 0;
  left: 54px;
  border-radius: 19px
}

.dashboard-student-new .group2 .view10 {
  background: rgba(217, 255, 175, 1.0);
  top: 164px;
  height: 30px;
  width: 29px;
  position: absolute;
  margin: 0;
  left: 86px;
  border-radius: 14px
}

.dashboard-student-new .group2 .view11 {
  background: rgba(217, 255, 175, 1.0);
  top: 58px;
  height: 17px;
  width: 16px;
  position: absolute;
  margin: 0;
  left: 98px;
  border-radius: 8px
}

.dashboard-student-new .group2 .view12 {
  background: rgba(217, 255, 175, 1.0);
  top: 0;
  height: 17px;
  width: 16px;
  position: absolute;
  margin: 0;
  left: 90px;
  border-radius: 8px
}

.dashboard-student-new .footer {
  background: rgba(255, 255, 255, 0.0);
  top: 685px;
  height: 166px;
  width: 1280px;
  position: absolute;
  margin: 0;
  left: 0
}

.dashboard-student-new .footer .view13 {
  background: rgba(52, 52, 52, 1.0);
  top: 0;
  height: 166px;
  width: 1280px;
  position: absolute;
  margin: 0;
  left: 0
}

.dashboard-student-new .footer .view14 {
  background: rgba(255, 255, 255, 0.0);
  top: 48px;
  height: 34px;
  width: 117px;
  position: absolute;
  margin: 0;
  left: 501px
}

.dashboard-student-new .footer .view14 .image2 {
  background: rgba(255, 255, 255, 0.0);
  top: 6px;
  height: 27px;
  width: 91px;
  position: absolute;
  margin: 0;
  left: 26px
}

.dashboard-student-new .footer .view14 .view15 {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 34px;
  width: 22px;
  position: absolute;
  margin: 0;
  left: 0
}

.dashboard-student-new .footer .view14 .view15 .view16 {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 34px;
  width: 22px;
  position: absolute;
  margin: 0;
  left: 0
}

.dashboard-student-new .footer .view14 .view15 .view16 .image3 {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 34px;
  width: 22px;
  position: relative;
  margin: 0;
  left: 0
}

.dashboard-student-new .footer .view14 .view15 .image4 {
  background: rgba(255, 255, 255, 0.0);
  top: 17px;
  height: 16px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 1px
}

.dashboard-student-new .footer .view14 .view15 .view17 {
  background: rgba(217, 255, 175, 1.0);
  top: 24px;
  height: 7px;
  width: 6px;
  position: absolute;
  margin: 0;
  left: 6px;
  border-radius: 3px
}

.dashboard-student-new .footer .view14 .view15 .view18 {
  background: rgba(217, 255, 175, 1.0);
  top: 20px;
  height: 5px;
  width: 5px;
  position: absolute;
  margin: 0;
  left: 10px;
  border-radius: 2px
}

.dashboard-student-new .footer .view14 .view15 .view19 {
  background: rgba(217, 255, 175, 1.0);
  top: 25px;
  height: 3px;
  width: 3px;
  position: absolute;
  margin: 0;
  left: 13px;
  border-radius: 1px
}

.dashboard-student-new .footer .est2017 {
  background: rgba(255, 255, 255, 0.0);
  top: 87px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 554px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(216, 255, 171, 1.0);
  text-align: center;
  line-height: 17.0px
}

.dashboard-student-new .footer .line4 {
  background: rgba(255, 255, 255, 0.0);
  top: 19px;
  height: 116px;
  width: 3px;
  position: absolute;
  margin: 0;
  left: 646px
}

.dashboard-student-new .footer .contact-us-about-the {
  background: rgba(255, 255, 255, 0.0);
  top: 26px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 668px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: left;
  line-height: 18.0px
}

.dashboard-student-new .welcome-miranda {
  background: rgba(255, 255, 255, 0.0);
  top: 127px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 29px;
  font-family: 'HelveticaNeue-Bold', Helvetica, Arial, serif;
  font-size: 18.0px;
  color: rgba(123, 212, 0, 1.0);
  text-align: left;
  line-height: 23.0px
}

.dashboard-student-new .rectangle13 {
  background: rgba(255, 255, 255, 0.0);
  top: 161px;
  height: 503px;
  width: 215px;
  position: absolute;
  margin: 0;
  left: 25px
}

.dashboard-student-new .research-opportuniti {
  background: rgba(255, 255, 255, 0.0);
  top: 172px;
  height: auto;
  width: 175px;
  position: absolute;
  margin: 0;
  left: 45px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 12.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  line-height: 15.0px
}

.dashboard-student-new .image5 {
  background: rgba(255, 255, 255, 0.0);
  top: 161px;
  height: 503px;
  width: 215px;
  position: absolute;
  margin: 0;
  left: 1043px
}

.dashboard-student-new .rectangle14 {
  background: rgba(255, 255, 255, 0.0);
  top: 163px;
  height: 102px;
  width: 730px;
  position: absolute;
  margin: 0;
  left: 276px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(126, 210, 33, 1.0)
}

.dashboard-student-new .view20 {
  background: rgba(255, 255, 255, 0.0);
  top: 289px;
  height: 369px;
  width: 730px;
  position: absolute;
  margin: 0;
  left: 277px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(215, 215, 215, 1.0)
}

.dashboard-student-new .looks-like-youre-a {
  background: rgba(255, 255, 255, 0.0);
  top: 181px;
  height: 56px;
  width: 635px;
  position: absolute;
  margin: 0;
  left: 355px
}

.dashboard-student-new .group3 {
  background: rgba(255, 255, 255, 0.0);
  top: 173px;
  height: 44px;
  width: 44px;
  position: absolute;
  margin: 0;
  left: 290px
}

.dashboard-student-new .group3 .oval5 {
  background: rgba(126, 210, 33, 1.0);
  top: 0;
  height: 44px;
  width: 44px;
  position: absolute;
  margin: 0;
  left: 0;
  border-radius: 22px
}

.dashboard-student-new .group3 .label1 {
  background: rgba(255, 255, 255, 0.0);
  top: 1px;
  height: auto;
  width: 13px;
  position: absolute;
  margin: 0;
  left: 18px;
  font-family: 'HelveticaNeue-Bold', Helvetica, Arial, serif;
  font-size: 34.0px;
  color: rgba(254, 255, 254, 1.0);
  text-align: left;
  line-height: 41.0px
}

.dashboard-student-new .sure {
  background: rgba(255, 255, 255, 0.0);
  top: 225px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 935px;
  font-family: 'HelveticaNeue-Bold', Helvetica, Arial, serif;
  font-size: 20.0px;
  color: rgba(123, 212, 0, 1.0);
  text-align: left;
  line-height: 25.0px
}

.dashboard-student-new .no-thanks {
  background: rgba(255, 255, 255, 0.0);
  top: 230px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 846px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(154, 154, 155, 1.0);
  text-align: left;
  line-height: 18.0px
}

.dashboard-student-new .updates {
  background: rgba(255, 255, 255, 0.0);
  top: 299px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 611px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  line-height: 18.0px
}

.dashboard-student-new .profile {
  background: rgba(255, 255, 255, 0.0);
  top: 174px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1129px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  line-height: 18.0px
}

.dashboard-student-new .rectangle15 {
  background: rgba(255, 255, 255, 1.0);
  top: 217px;
  height: 175px;
  width: 175px;
  position: absolute;
  margin: 0;
  left: 45px
}

.dashboard-student-new .uh-oh-update-your-i {
  background: rgba(255, 255, 255, 0.0);
  top: 233px;
  height: auto;
  width: 128px;
  position: absolute;
  margin: 0;
  left: 69px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 12.0px;
  color: rgba(78, 78, 78, 1.0);
  text-align: left;
  line-height: 15.0px
}

.dashboard-student-new .update-picture {
  background: rgba(255, 255, 255, 0.0);
  top: 353px;
  height: auto;
  width: 75px;
  position: absolute;
  margin: 0;
  left: 1113px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 10.0px;
  color: rgba(74, 73, 74, 1.0);
  text-align: left;
  line-height: 12.0px
}

.dashboard-student-new .update-interests-vie {
  background: rgba(255, 255, 255, 0.0);
  top: 392px;
  height: auto;
  width: 175px;
  position: absolute;
  margin: 0;
  left: 1063px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(74, 73, 74, 1.0);
  text-align: center;
  line-height: 18.0px
}

.dashboard-student-new .get-started {
  background: rgba(255, 255, 255, 0.0);
  top: 353px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 104px;
  font-family: 'HelveticaNeue-Bold', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(126, 210, 33, 1.0);
  text-align: center;
  line-height: 17.0px
}

.dashboard-student-new .december3-you-joine {
  background: rgba(255, 255, 255, 0.0);
  top: 330px;
  height: auto;
  width: 671px;
  position: absolute;
  margin: 0;
  left: 307px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(154, 154, 155, 1.0);
  text-align: left;
  line-height: 17.0px
}

.dashboard-student-new .line {
  background: rgba(255, 255, 255, 0.0);
  top: 413px;
  height: 3px;
  width: 669px;
  position: absolute;
  margin: 0;
  left: 308px
}

.dashboard-student-new .label2 {
  background: rgba(255, 255, 255, 0.0);
  top: 387px;
  height: auto;
  width: 99px;
  position: absolute;
  margin: 0;
  left: 876px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(126, 210, 33, 1.0);
  text-align: right;
  line-height: 17.0px
}

.dashboard-student-new .view21 {
  background: rgba(255, 255, 255, 0.0);
  top: 202px;
  height: 141px;
  width: 141px;
  position: absolute;
  margin: 0;
  left: 1080px
}

.dashboard-student-new .view21 .image6 {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 141px;
  width: 141px;
  position: relative;
  margin: 0;
  left: 0
}

.anima-animate-appear {
  opacity: 0;
  display: block;
  -webkit-animation: anima-reveal .3s ease-in-out 1 normal forwards;
  -moz-animation: anima-reveal .3s ease-in 1 normal forwards;
  -o-animation: anima-reveal .3s ease-in-out 1 normal forwards;
  animation: anima-reveal .3s ease-in-out 1 normal forwards
}

.anima-animate-disappear {
  opacity: 1;
  display: block;
  -webkit-animation: anima-reveal .3s ease-in-out 1 reverse forwards;
  -moz-animation: anima-reveal .3s ease-in 1 normal forwards;
  -o-animation: anima-reveal .3s ease-in-out 1 reverse forwards;
  animation: anima-reveal .3s ease-in-out 1 reverse forwards
}

.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0
}

@-webkit-keyframes anima-reveal {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-moz-keyframes anima-reveal {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-o-keyframes anima-reveal {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes anima-reveal {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
