.landing-page {
  width: 100%;
  min-width: 1281px;
  height: 100vh;
  min-height: 1700px;
  position: relative;
  overflow: hidden;
  margin: 0;
  background: rgba(255, 255, 255, 1.0)
}

a {
  text-decoration: none
}

div {
  -webkit-text-size-adjust: none
}

.landing-page .rectangle {
  background: rgba(52, 52, 52, 1.0);
  top: -1px;
  height: 56px;
  width: 1280px;
  position: absolute;
  margin: 0;
  left: 0
}

.landing-page .login {
  background: rgba(255, 255, 255, 0.0);
  top: 22px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1107px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(126, 210, 33, 1.0);
  text-align: center;
  line-height: 16.0px
}

.landing-page .oval {
  background: rgba(217, 255, 175, 1.0);
  top: 432px;
  height: 76px;
  width: 74px;
  position: absolute;
  margin: 0;
  left: 36px;
  border-radius: 37px
}

.landing-page .view1 {
  background: rgba(217, 255, 175, 1.0);
  top: 304px;
  height: 79px;
  width: 76px;
  position: absolute;
  margin: 0;
  left: 83px;
  border-radius: 38px
}

.landing-page .view2 {
  background: rgba(217, 255, 175, 1.0);
  top: 637px;
  height: 225px;
  width: 225px;
  position: absolute;
  margin: 0;
  left: 41px;
  border-radius: 112px
}

.landing-page .view3 {
  background: rgba(217, 255, 175, 1.0);
  top: 405px;
  height: 42px;
  width: 41px;
  position: absolute;
  margin: 0;
  left: 155px;
  border-radius: 20px
}

.landing-page .view4 {
  background: rgba(217, 255, 175, 1.0);
  top: 180px;
  height: 41px;
  width: 39px;
  position: absolute;
  margin: 0;
  left: 115px;
  border-radius: 19px
}

.landing-page .view5 {
  background: rgba(217, 255, 175, 1.0);
  top: 239px;
  height: 30px;
  width: 29px;
  position: absolute;
  margin: 0;
  left: 147px;
  border-radius: 14px
}

.landing-page .view6 {
  background: rgba(217, 255, 175, 1.0);
  top: 1214px;
  height: 115px;
  width: 111px;
  position: absolute;
  margin: 0;
  left: 38px;
  border-radius: 55px
}

.landing-page .view7 {
  background: rgba(217, 255, 175, 1.0);
  top: 1086px;
  height: 79px;
  width: 76px;
  position: absolute;
  margin: 0;
  left: 175px;
  border-radius: 38px
}

.landing-page .view8 {
  background: rgba(217, 255, 175, 1.0);
  top: 1193px;
  height: 42px;
  width: 41px;
  position: absolute;
  margin: 0;
  left: 154px;
  border-radius: 20px
}

.landing-page .view9 {
  background: rgba(217, 255, 175, 1.0);
  top: 1423px;
  height: 86px;
  width: 86px;
  position: absolute;
  margin: 0;
  left: 121px;
  border-radius: 43px
}

.landing-page .view10 {
  background: rgba(217, 255, 175, 1.0);
  top: 1509px;
  height: 42px;
  width: 41px;
  position: absolute;
  margin: 0;
  left: 69px;
  border-radius: 20px
}

.landing-page .view11 {
  background: rgba(217, 255, 175, 1.0);
  top: 1135px;
  height: 30px;
  width: 29px;
  position: absolute;
  margin: 0;
  left: 64px;
  border-radius: 14px
}

.landing-page .view12 {
  background: rgba(217, 255, 175, 1.0);
  top: 1264px;
  height: 30px;
  width: 29px;
  position: absolute;
  margin: 0;
  left: 186px;
  border-radius: 14px
}

.landing-page .view13 {
  background: rgba(217, 255, 175, 1.0);
  top: 133px;
  height: 17px;
  width: 16px;
  position: absolute;
  margin: 0;
  left: 159px;
  border-radius: 8px
}

.landing-page .view14 {
  background: rgba(217, 255, 175, 1.0);
  top: 88px;
  height: 17px;
  width: 16px;
  position: absolute;
  margin: 0;
  left: 130px;
  border-radius: 8px
}

.landing-page .image1 {
  background: rgba(255, 255, 255, 0.0);
  top: 501px;
  height: 115px;
  width: 117px;
  position: absolute;
  margin: 0;
  left: 106px
}

.landing-page .image2 {
  background: rgba(255, 255, 255, 0.0);
  top: 980px;
  height: 115px;
  width: 117px;
  position: absolute;
  margin: 0;
  left: 59px
}

.landing-page .group {
  background: rgba(255, 255, 255, 0.0);
  top: 7px;
  height: 40px;
  width: 142px;
  position: absolute;
  margin: 0;
  left: 13px
}

.landing-page .group .beakr {
  background: rgba(255, 255, 255, 0.0);
  top: 8px;
  height: 31px;
  width: 110px;
  position: absolute;
  margin: 0;
  left: 32px
}

.landing-page .group .beaker-full {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 40px;
  width: 26px;
  position: absolute;
  margin: 0;
  left: 0
}

.landing-page .group .beaker-full .beaker {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 40px;
  width: 26px;
  position: absolute;
  margin: 0;
  left: 0
}

.landing-page .group .beaker-full .beaker .combined-shape {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 40px;
  width: 26px;
  position: relative;
  margin: 0;
  left: 0
}

.landing-page .group .beaker-full .image3 {
  background: rgba(255, 255, 255, 0.0);
  top: 21px;
  height: 18px;
  width: 24px;
  position: absolute;
  margin: 0;
  left: 1px
}

.landing-page .group .beaker-full .oval4 {
  background: rgba(217, 255, 175, 1.0);
  top: 29px;
  height: 8px;
  width: 8px;
  position: absolute;
  margin: 0;
  left: 7px;
  border-radius: 4px
}

.landing-page .group .beaker-full .view15 {
  background: rgba(217, 255, 175, 1.0);
  top: 25px;
  height: 5px;
  width: 6px;
  position: absolute;
  margin: 0;
  left: 12px;
  border-radius: 3px
}

.landing-page .group .beaker-full .view16 {
  background: rgba(217, 255, 175, 1.0);
  top: 31px;
  height: 3px;
  width: 3px;
  position: absolute;
  margin: 0;
  left: 16px;
  border-radius: 1px
}

.landing-page .view17 {
  background: rgba(52, 52, 52, 1.0);
  top: 1534px;
  height: 166px;
  width: 1280px;
  position: absolute;
  margin: 0;
  left: 1px
}

.landing-page .view18 {
  background: rgba(255, 255, 255, 0.0);
  top: 1582px;
  height: 34px;
  width: 117px;
  position: absolute;
  margin: 0;
  left: 502px
}

.landing-page .view18 .image4 {
  background: rgba(255, 255, 255, 0.0);
  top: 6px;
  height: 27px;
  width: 91px;
  position: absolute;
  margin: 0;
  left: 26px
}

.landing-page .view18 .view19 {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 34px;
  width: 22px;
  position: absolute;
  margin: 0;
  left: 0
}

.landing-page .view18 .view19 .view20 {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 34px;
  width: 22px;
  position: absolute;
  margin: 0;
  left: 0
}

.landing-page .view18 .view19 .view20 .image5 {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 34px;
  width: 22px;
  position: relative;
  margin: 0;
  left: 0
}

.landing-page .view18 .view19 .image6 {
  background: rgba(255, 255, 255, 0.0);
  top: 17px;
  height: 16px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 1px
}

.landing-page .view18 .view19 .view21 {
  background: rgba(217, 255, 175, 1.0);
  top: 24px;
  height: 7px;
  width: 6px;
  position: absolute;
  margin: 0;
  left: 6px;
  border-radius: 3px
}

.landing-page .view18 .view19 .view22 {
  background: rgba(217, 255, 175, 1.0);
  top: 20px;
  height: 5px;
  width: 5px;
  position: absolute;
  margin: 0;
  left: 10px;
  border-radius: 2px
}

.landing-page .view18 .view19 .view23 {
  background: rgba(217, 255, 175, 1.0);
  top: 25px;
  height: 3px;
  width: 3px;
  position: absolute;
  margin: 0;
  left: 13px;
  border-radius: 1px
}

.landing-page .rectangle2 {
  background: rgba(255, 255, 255, 0.0);
  top: 336px;
  height: 188px;
  width: 188px;
  position: absolute;
  margin: 0;
  left: 658px
}

.landing-page .image7 {
  background: rgba(255, 255, 255, 0.0);
  top: 336px;
  height: 188px;
  width: 188px;
  position: absolute;
  margin: 0;
  left: 226px
}

.landing-page .rectangle6 {
  background: rgba(215, 215, 215, 1.0);
  top: 374px;
  height: 17px;
  width: 16px;
  position: absolute;
  margin: 0;
  left: 298px
}

.landing-page .image8 {
  background: rgba(255, 255, 255, 0.0);
  top: 336px;
  height: 188px;
  width: 188px;
  position: absolute;
  margin: 0;
  left: 872px
}

.landing-page .image9 {
  background: rgba(255, 255, 255, 0.0);
  top: 361px;
  height: 96px;
  width: 109px;
  position: absolute;
  margin: 0;
  left: 919px
}

.landing-page .line {
  background: rgba(255, 255, 255, 0.0);
  top: 393px;
  height: 1px;
  width: 65px;
  position: absolute;
  margin: 0;
  left: 941px
}

.landing-page .image10 {
  background: rgba(255, 255, 255, 0.0);
  top: 400px;
  height: 1px;
  width: 65px;
  position: absolute;
  margin: 0;
  left: 941px
}

.landing-page .image11 {
  background: rgba(255, 255, 255, 0.0);
  top: 414px;
  height: 1px;
  width: 65px;
  position: absolute;
  margin: 0;
  left: 941px
}

.landing-page .image12 {
  background: rgba(255, 255, 255, 0.0);
  top: 407px;
  height: 1px;
  width: 65px;
  position: absolute;
  margin: 0;
  left: 941px
}

.landing-page .image13 {
  background: rgba(255, 255, 255, 0.0);
  top: 397px;
  height: 1px;
  width: 45px;
  position: absolute;
  margin: 0;
  left: 298px
}

.landing-page .image14 {
  background: rgba(255, 255, 255, 0.0);
  top: 404px;
  height: 1px;
  width: 45px;
  position: absolute;
  margin: 0;
  left: 298px
}

.landing-page .image15 {
  background: rgba(255, 255, 255, 0.0);
  top: 411px;
  height: 1px;
  width: 45px;
  position: absolute;
  margin: 0;
  left: 298px
}

.landing-page .image16 {
  background: rgba(255, 255, 255, 0.0);
  top: 418px;
  height: 1px;
  width: 45px;
  position: absolute;
  margin: 0;
  left: 298px
}

.landing-page .image17 {
  background: rgba(255, 255, 255, 0.0);
  top: 425px;
  height: 1px;
  width: 45px;
  position: absolute;
  margin: 0;
  left: 298px
}

.landing-page .image18 {
  background: rgba(255, 255, 255, 0.0);
  top: 432px;
  height: 1px;
  width: 45px;
  position: absolute;
  margin: 0;
  left: 298px
}

.landing-page .image19 {
  background: rgba(255, 255, 255, 0.0);
  top: 336px;
  height: 188px;
  width: 188px;
  position: absolute;
  margin: 0;
  left: 440px
}

.landing-page .welcome-to-beakr {
  background: rgba(255, 255, 255, 0.0);
  top: 105px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 369px;
  font-family: 'STHeitiSC-Medium', Helvetica, Arial, serif;
  font-size: 60.0px;
  color: rgba(123, 212, 0, 1.0);
  text-align: center;
  line-height: 62.0px
}

.landing-page .rectangle3 {
  background: rgba(126, 210, 33, 1.0);
  top: 629px;
  height: 57px;
  width: 242px;
  position: absolute;
  margin: 0;
  left: 520px
}

.landing-page .view24 {
  background: rgba(255, 255, 255, 0.0);
  top: 702px;
  height: 38px;
  width: 242px;
  position: absolute;
  margin: 0;
  left: 520px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(126, 210, 33, 1.0)
}

.landing-page .get-started {
  background: rgba(255, 255, 255, 0.0);
  top: 648px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 589px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 20.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: center;
  line-height: 24.0px
}

.landing-page .are-you-a-professor {
  background: rgba(255, 255, 255, 0.0);
  top: 712px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 572px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(126, 210, 33, 1.0);
  text-align: center;
  line-height: 16.0px
}

.landing-page .oval2 {
  background: rgba(255, 255, 255, 0.0);
  top: 360px;
  height: 93px;
  width: 92px;
  position: absolute;
  margin: 0;
  left: 706px
}

.landing-page .line2 {
  background: rgba(255, 255, 255, 0.0);
  top: 354px;
  height: 78px;
  width: 84px;
  position: absolute;
  margin: 0;
  left: 726px
}

.landing-page .rectangle4 {
  background: rgba(255, 255, 255, 0.0);
  top: 363px;
  height: 87px;
  width: 74px;
  position: absolute;
  margin: 0;
  left: 283px;
  border-style: solid;
  border-width: 6px;
  border-color: rgba(126, 210, 33, 1.0)
}

.landing-page .save-the-research-fo {
  background: rgba(255, 255, 255, 0.0);
  top: 184px;
  height: auto;
  width: 858px;
  position: absolute;
  margin: 0;
  left: 211px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 24.0px;
  color: rgba(73, 73, 74, 1.0);
  text-align: center;
  line-height: 29.0px
}

.landing-page .rectangle5 {
  background: rgba(126, 210, 33, 1.0);
  top: 14px;
  height: 31px;
  width: 81px;
  position: absolute;
  margin: 0;
  left: 1183px
}

.landing-page .sign-up {
  background: rgba(255, 255, 255, 0.0);
  top: 22px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1197px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(74, 73, 74, 1.0);
  text-align: center;
  line-height: 16.0px
}

.landing-page .view25 {
  background: rgba(255, 255, 255, 0.0);
  top: 15px;
  height: 31px;
  width: 81px;
  position: absolute;
  margin: 0;
  left: 1085px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(126, 210, 33, 1.0)
}

.landing-page .about-the-team {
  background: rgba(255, 255, 255, 0.0);
  top: 21px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 815px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(126, 210, 33, 1.0);
  text-align: center;
  line-height: 16.0px
}

.landing-page .support {
  background: rgba(255, 255, 255, 0.0);
  top: 21px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 963px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(126, 210, 33, 1.0);
  text-align: center;
  line-height: 16.0px
}

.landing-page .contact-us {
  background: rgba(255, 255, 255, 0.0);
  top: 21px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 689px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(126, 210, 33, 1.0);
  text-align: center;
  line-height: 16.0px
}

.landing-page .view26 {
  background: rgba(255, 255, 255, 0.0);
  top: 77px;
  height: 176px;
  width: 111px;
  position: absolute;
  margin: 0;
  left: 283px
}

.landing-page .view26 .view27 {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 176px;
  width: 111px;
  position: absolute;
  margin: 0;
  left: 0
}

.landing-page .view26 .view27 .image20 {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 176px;
  width: 111px;
  position: relative;
  margin: 0;
  left: 0
}

.landing-page .view26 .image21 {
  background: rgba(255, 255, 255, 0.0);
  top: 92px;
  height: 80px;
  width: 99px;
  position: absolute;
  margin: 0;
  left: 6px
}

.landing-page .view26 .view28 {
  background: rgba(217, 255, 175, 1.0);
  top: 129px;
  height: 34px;
  width: 30px;
  position: absolute;
  margin: 0;
  left: 32px;
  border-radius: 15px
}

.landing-page .view26 .view29 {
  background: rgba(217, 255, 175, 1.0);
  top: 110px;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 55px;
  border-radius: 10px
}

.landing-page .view26 .view30 {
  background: rgba(217, 255, 175, 1.0);
  top: 136px;
  height: 12px;
  width: 12px;
  position: absolute;
  margin: 0;
  left: 70px;
  border-radius: 6px
}

.landing-page .as-an-undergrad-fin {
  background: rgba(255, 255, 255, 0.0);
  top: 274px;
  height: auto;
  width: 795px;
  position: absolute;
  margin: 0;
  left: 239px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(74, 73, 74, 1.0);
  text-align: center;
  line-height: 17.0px
}

.landing-page .u-pload {
  background: rgba(255, 255, 255, 0.0);
  top: 477px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 270px;
  font-family: 'STHeitiSC-Medium', Helvetica, Arial, serif;
  font-size: 24.0px;
  color: rgba(74, 73, 74, 1.0);
  text-align: center;
  line-height: 25.0px
}

.landing-page .m-atch {
  background: rgba(255, 255, 255, 0.0);
  top: 477px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 708px;
  font-family: 'STHeitiSC-Medium', Helvetica, Arial, serif;
  font-size: 24.0px;
  color: rgba(74, 73, 74, 1.0);
  text-align: center;
  line-height: 25.0px
}

.landing-page .m-essage {
  background: rgba(255, 255, 255, 0.0);
  top: 477px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 910px;
  font-family: 'STHeitiSC-Medium', Helvetica, Arial, serif;
  font-size: 24.0px;
  color: rgba(74, 73, 74, 1.0);
  text-align: center;
  line-height: 25.0px
}

.landing-page .s-earch {
  background: rgba(255, 255, 255, 0.0);
  top: 477px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 486px;
  font-family: 'STHeitiSC-Medium', Helvetica, Arial, serif;
  font-size: 24.0px;
  color: rgba(74, 73, 74, 1.0);
  text-align: center;
  line-height: 25.0px
}

.landing-page .bitmap {
  background: rgba(255, 255, 255, 0.0);
  top: 1251px;
  height: 258px;
  width: 518px;
  position: absolute;
  margin: 0;
  left: 647px
}

.landing-page .rectangle10 {
  background: rgba(52, 52, 52, 1.0);
  top: 1273px;
  height: 209px;
  width: 777px;
  position: absolute;
  margin: 0;
  left: 0
}

.landing-page .faculty-and-universi {
  background: rgba(255, 255, 255, 0.0);
  top: 1350px;
  height: auto;
  width: 615px;
  position: absolute;
  margin: 0;
  left: 113px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: left;
  line-height: 18.0px
}

.landing-page .join-the-beakr-commu {
  background: rgba(255, 255, 255, 0.0);
  top: 1299px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 109px;
  font-family: 'STHeitiSC-Medium', Helvetica, Arial, serif;
  font-size: 30.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: center;
  line-height: 31.0px
}

.landing-page .image22 {
  background: rgba(255, 255, 255, 0.0);
  top: 772px;
  height: 298px;
  width: 499px;
  position: absolute;
  margin: 0;
  left: 667px
}

.landing-page .view31 {
  background: rgba(52, 52, 52, 1.0);
  top: 795px;
  height: 209px;
  width: 777px;
  position: absolute;
  margin: 0;
  left: 0
}

.landing-page .all-matches-from-bea {
  background: rgba(255, 255, 255, 0.0);
  top: 868px;
  height: auto;
  width: 640px;
  position: absolute;
  margin: 0;
  left: 109px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: left;
  line-height: 18.0px
}

.landing-page .how-it-works {
  background: rgba(255, 255, 255, 0.0);
  top: 821px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 112px;
  font-family: 'STHeitiSC-Medium', Helvetica, Arial, serif;
  font-size: 30.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: center;
  line-height: 31.0px
}

.landing-page .download-the-app {
  background: rgba(255, 255, 255, 0.0);
  top: 1095px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 863px;
  font-family: 'STHeitiSC-Medium', Helvetica, Arial, serif;
  font-size: 30.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: right;
  line-height: 31.0px
}

.landing-page .rectangle11 {
  background: rgba(126, 210, 33, 1.0);
  top: 1423px;
  height: 42px;
  width: 166px;
  position: absolute;
  margin: 0;
  left: 306px
}

.landing-page .label1 {
  background: rgba(255, 255, 255, 0.0);
  top: 1433px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 338px;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: center;
  line-height: 23.0px
}

.landing-page .available-for-free-o {
  background: rgba(255, 255, 255, 0.0);
  top: 1150px;
  height: auto;
  width: 420px;
  position: absolute;
  margin: 0;
  left: 751px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: right;
  line-height: 18.0px
}

.landing-page .create-a-profile-up {
  background: rgba(255, 255, 255, 0.0);
  top: 528px;
  height: auto;
  width: 187px;
  position: absolute;
  margin: 0;
  left: 231px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(74, 73, 74, 1.0);
  text-align: center;
  line-height: 17.0px
}

.landing-page .find-a-lab-you-like {
  background: rgba(255, 255, 255, 0.0);
  top: 530px;
  height: auto;
  width: 187px;
  position: absolute;
  margin: 0;
  left: 659px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(74, 73, 74, 1.0);
  text-align: center;
  line-height: 17.0px
}

.landing-page .look-through-our-sug {
  background: rgba(255, 255, 255, 0.0);
  top: 530px;
  height: auto;
  width: 187px;
  position: absolute;
  margin: 0;
  left: 445px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(74, 73, 74, 1.0);
  text-align: center;
  line-height: 17.0px
}

.landing-page .if-youre-accepted {
  background: rgba(255, 255, 255, 0.0);
  top: 530px;
  height: 76px;
  width: 185px;
  position: absolute;
  margin: 0;
  left: 869px
}

.landing-page .view32 {
  background: rgba(255, 255, 255, 0.0);
  top: 359px;
  height: 94px;
  width: 76px;
  position: absolute;
  margin: 0;
  left: 497px
}

.landing-page .view32 .image23 {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 69px;
  width: 69px;
  position: absolute;
  margin: 0;
  left: 0
}

.landing-page .view32 .line3 {
  background: rgba(255, 255, 255, 0.0);
  top: 58px;
  height: 35px;
  width: 28px;
  position: absolute;
  margin: 0;
  left: 47px
}

.landing-page .est2017 {
  background: rgba(255, 255, 255, 0.0);
  top: 1621px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 555px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(216, 255, 171, 1.0);
  text-align: center;
  line-height: 17.0px
}

.landing-page .line4 {
  background: rgba(255, 255, 255, 0.0);
  top: 1553px;
  height: 116px;
  width: 3px;
  position: absolute;
  margin: 0;
  left: 647px
}

.landing-page .contact-us-about-the {
  background: rgba(255, 255, 255, 0.0);
  top: 1560px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 669px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: left;
  line-height: 18.0px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 {
  background: rgba(255, 255, 255, 0.0);
  top: 1186px;
  height: 40px;
  width: 120px;
  position: absolute;
  margin: 0;
  left: 1051px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .group3 {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 40px;
  width: 120px;
  position: absolute;
  margin: 0;
  left: 0
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill4 {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 40px;
  width: 119px;
  position: absolute;
  margin: 0;
  left: 0
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill5 {
  background: rgba(255, 255, 255, 0.0);
  top: 13px;
  height: 18px;
  width: 19px;
  position: absolute;
  margin: 0;
  left: 9px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill6 {
  background: rgba(255, 255, 255, 0.0);
  top: 8px;
  height: 6px;
  width: 6px;
  position: absolute;
  margin: 0;
  left: 18px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill7 {
  background: rgba(255, 255, 255, 0.0);
  top: 18px;
  height: 13px;
  width: 12px;
  position: absolute;
  margin: 0;
  left: 34px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill8 {
  background: rgba(255, 255, 255, 0.0);
  top: 21px;
  height: 13px;
  width: 10px;
  position: absolute;
  margin: 0;
  left: 46px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill9 {
  background: rgba(255, 255, 255, 0.0);
  top: 21px;
  height: 13px;
  width: 10px;
  position: absolute;
  margin: 0;
  left: 56px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill10 {
  background: rgba(255, 255, 255, 0.0);
  top: 17px;
  height: 14px;
  width: 11px;
  position: absolute;
  margin: 0;
  left: 69px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill11 {
  background: rgba(255, 255, 255, 0.0);
  top: 19px;
  height: 12px;
  width: 6px;
  position: absolute;
  margin: 0;
  left: 80px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill12 {
  background: rgba(255, 255, 255, 0.0);
  top: 21px;
  height: 10px;
  width: 9px;
  position: absolute;
  margin: 0;
  left: 86px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill13 {
  background: rgba(255, 255, 255, 0.0);
  top: 21px;
  height: 10px;
  width: 5px;
  position: absolute;
  margin: 0;
  left: 96px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill14 {
  background: rgba(255, 255, 255, 0.0);
  top: 21px;
  height: 10px;
  width: 9px;
  position: absolute;
  margin: 0;
  left: 101px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill15 {
  background: rgba(255, 255, 255, 0.0);
  top: 8px;
  height: 7px;
  width: 6px;
  position: absolute;
  margin: 0;
  left: 35px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill16 {
  background: rgba(255, 255, 255, 0.0);
  top: 10px;
  height: 5px;
  width: 5px;
  position: absolute;
  margin: 0;
  left: 41px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill17 {
  background: rgba(255, 255, 255, 0.0);
  top: 10px;
  height: 5px;
  width: 7px;
  position: absolute;
  margin: 0;
  left: 46px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill18 {
  background: rgba(255, 255, 255, 0.0);
  top: 10px;
  height: 5px;
  width: 5px;
  position: absolute;
  margin: 0;
  left: 53px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill19 {
  background: rgba(255, 255, 255, 0.0);
  top: 8px;
  height: 7px;
  width: 2px;
  position: absolute;
  margin: 0;
  left: 59px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill20 {
  background: rgba(255, 255, 255, 0.0);
  top: 10px;
  height: 5px;
  width: 5px;
  position: absolute;
  margin: 0;
  left: 61px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill21 {
  background: rgba(255, 255, 255, 0.0);
  top: 10px;
  height: 5px;
  width: 5px;
  position: absolute;
  margin: 0;
  left: 66px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill22 {
  background: rgba(255, 255, 255, 0.0);
  top: 8px;
  height: 7px;
  width: 5px;
  position: absolute;
  margin: 0;
  left: 71px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill23 {
  background: rgba(255, 255, 255, 0.0);
  top: 10px;
  height: 5px;
  width: 5px;
  position: absolute;
  margin: 0;
  left: 79px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill24 {
  background: rgba(255, 255, 255, 0.0);
  top: 10px;
  height: 5px;
  width: 5px;
  position: absolute;
  margin: 0;
  left: 84px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill25 {
  background: rgba(255, 255, 255, 0.0);
  top: 9px;
  height: 6px;
  width: 4px;
  position: absolute;
  margin: 0;
  left: 91px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill26 {
  background: rgba(255, 255, 255, 0.0);
  top: 8px;
  height: 7px;
  width: 5px;
  position: absolute;
  margin: 0;
  left: 95px
}

.landing-page .downloadonthe-app-store-badge-usu-kblk092917 .fill27 {
  background: rgba(255, 255, 255, 0.0);
  top: 10px;
  height: 5px;
  width: 5px;
  position: absolute;
  margin: 0;
  left: 100px
}

.landing-page .googleplaybadge {
  background: rgba(255, 255, 255, 0.0);
  top: 1177px;
  height: 58px;
  width: 150px;
  position: absolute;
  margin: 0;
  left: 899px
}

.landing-page .oval8 {
  background: rgba(255, 255, 255, 0.0);
  top: 1093px;
  height: 127px;
  width: 123px;
  position: absolute;
  margin: 0;
  left: 692px
}

.landing-page .view33 {
  background: rgba(255, 255, 255, 0.0);
  top: 1111px;
  height: 91px;
  width: 59px;
  position: absolute;
  margin: 0;
  left: 724px
}

.landing-page .view33 .view34 {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 91px;
  width: 59px;
  position: absolute;
  margin: 0;
  left: 0
}

.landing-page .view33 .view34 .image24 {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 91px;
  width: 59px;
  position: relative;
  margin: 0;
  left: 0
}

.landing-page .view33 .image25 {
  background: rgba(255, 255, 255, 0.0);
  top: 47px;
  height: 42px;
  width: 53px;
  position: absolute;
  margin: 0;
  left: 3px
}

.landing-page .view33 .view35 {
  background: rgba(217, 255, 175, 1.0);
  top: 67px;
  height: 18px;
  width: 16px;
  position: absolute;
  margin: 0;
  left: 17px;
  border-radius: 8px
}

.landing-page .view33 .view36 {
  background: rgba(217, 255, 175, 1.0);
  top: 56px;
  height: 12px;
  width: 11px;
  position: absolute;
  margin: 0;
  left: 29px;
  border-radius: 5px
}

.landing-page .view33 .view37 {
  background: rgba(217, 255, 175, 1.0);
  top: 70px;
  height: 7px;
  width: 7px;
  position: absolute;
  margin: 0;
  left: 37px;
  border-radius: 3px
}

.anima-animate-appear {
  opacity: 0;
  display: block;
  -webkit-animation: anima-reveal .3s ease-in-out 1 normal forwards;
  -moz-animation: anima-reveal .3s ease-in 1 normal forwards;
  -o-animation: anima-reveal .3s ease-in-out 1 normal forwards;
  animation: anima-reveal .3s ease-in-out 1 normal forwards
}

.anima-animate-disappear {
  opacity: 1;
  display: block;
  -webkit-animation: anima-reveal .3s ease-in-out 1 reverse forwards;
  -moz-animation: anima-reveal .3s ease-in 1 normal forwards;
  -o-animation: anima-reveal .3s ease-in-out 1 reverse forwards;
  animation: anima-reveal .3s ease-in-out 1 reverse forwards
}

.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0
}

@-webkit-keyframes anima-reveal {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-moz-keyframes anima-reveal {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-o-keyframes anima-reveal {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes anima-reveal {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
