  .request {
    width: 100%;
    min-width: 1280px;
    height: 100vh;
    min-height: 961px;
    position: relative;
    overflow: hidden;
    margin: 0;
    background: rgba(255, 255, 255, 1.0)
  }

  a {
    text-decoration: none
  }

  div {
    -webkit-text-size-adjust: none
  }

  .request .rectangle {
    background: rgba(52, 52, 52, 1.0);
    top: 0;
    height: 56px;
    width: 1280px;
    position: absolute;
    margin: 0;
    left: 0
  }

  .request .rectangle5 {
    background: rgba(126, 210, 33, 1.0);
    top: 14px;
    height: 31px;
    width: 81px;
    position: absolute;
    margin: 0;
    left: 1183px
  }

  .request .group2 {
    background: rgba(255, 255, 255, 0.0);
    top: 95px;
    height: 774px;
    width: 230px;
    position: absolute;
    margin: 0;
    left: 40px
  }

  .request .group2 .oval {
    background: rgba(217, 255, 175, 1.0);
    top: 344px;
    height: 76px;
    width: 74px;
    position: absolute;
    margin: 0;
    left: 0;
    border-radius: 37px
  }

  .request .group2 .view1 {
    background: rgba(217, 255, 175, 1.0);
    top: 216px;
    height: 79px;
    width: 76px;
    position: absolute;
    margin: 0;
    left: 47px;
    border-radius: 38px
  }

  .request .group2 .view2 {
    background: rgba(217, 255, 175, 1.0);
    top: 549px;
    height: 225px;
    width: 225px;
    position: absolute;
    margin: 0;
    left: 5px;
    border-radius: 112px
  }

  .request .group2 .view3 {
    background: rgba(217, 255, 175, 1.0);
    top: 317px;
    height: 42px;
    width: 41px;
    position: absolute;
    margin: 0;
    left: 119px;
    border-radius: 20px
  }

  .request .group2 .view4 {
    background: rgba(217, 255, 175, 1.0);
    top: 92px;
    height: 41px;
    width: 39px;
    position: absolute;
    margin: 0;
    left: 79px;
    border-radius: 19px
  }

  .request .group2 .view5 {
    background: rgba(217, 255, 175, 1.0);
    top: 151px;
    height: 30px;
    width: 29px;
    position: absolute;
    margin: 0;
    left: 111px;
    border-radius: 14px
  }

  .request .group2 .view6 {
    background: rgba(217, 255, 175, 1.0);
    top: 45px;
    height: 17px;
    width: 16px;
    position: absolute;
    margin: 0;
    left: 123px;
    border-radius: 8px
  }

  .request .group2 .view7 {
    background: rgba(217, 255, 175, 1.0);
    top: 0;
    height: 17px;
    width: 16px;
    position: absolute;
    margin: 0;
    left: 94px;
    border-radius: 8px
  }

  .request .group2 .image1 {
    background: rgba(255, 255, 255, 0.0);
    top: 413px;
    height: 115px;
    width: 117px;
    position: absolute;
    margin: 0;
    left: 70px
  }

  .request .studentusername {
    background: rgba(255, 255, 255, 0.0);
    top: 22px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 1045px;
    font-family: 'HelveticaNeue', Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(126, 210, 33, 1.0);
    text-align: right;
    line-height: 16.0px;
    text-decoration: underline
  }

  .request .logout {
    background: rgba(255, 255, 255, 0.0);
    top: 22px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 1201px;
    font-family: 'HelveticaNeue', Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(74, 73, 74, 1.0);
    text-align: center;
    line-height: 16.0px
  }

  .request .about-the-team {
    background: rgba(255, 255, 255, 0.0);
    top: 21px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 815px;
    font-family: 'HelveticaNeue', Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(126, 210, 33, 1.0);
    text-align: center;
    line-height: 16.0px
  }

  .request .support {
    background: rgba(255, 255, 255, 0.0);
    top: 21px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 964px;
    font-family: 'HelveticaNeue', Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(126, 210, 33, 1.0);
    text-align: center;
    line-height: 16.0px
  }

  .request .contact-us {
    background: rgba(255, 255, 255, 0.0);
    top: 21px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 690px;
    font-family: 'HelveticaNeue', Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(126, 210, 33, 1.0);
    text-align: center;
    line-height: 16.0px
  }

  .request .rectangle12 {
    background: rgba(228, 228, 228, 1.0);
    top: 55px;
    height: 56px;
    width: 1280px;
    position: absolute;
    margin: 0;
    left: 0
  }

  .request .view8 {
    background: rgba(228, 228, 228, 1.0);
    top: 55px;
    height: 56px;
    width: 142px;
    position: absolute;
    margin: 0;
    left: 0
  }

  .request .view9 {
    background: rgba(186, 186, 186, 1.0);
    top: 55px;
    height: 56px;
    width: 142px;
    position: absolute;
    margin: 0;
    left: 284px
  }

  .request .view10 {
    background: rgba(228, 228, 228, 1.0);
    top: 55px;
    height: 56px;
    width: 142px;
    position: absolute;
    margin: 0;
    left: 426px
  }

  .request .view11 {
    background: rgba(228, 228, 228, 1.0);
    top: 55px;
    height: 56px;
    width: 142px;
    position: absolute;
    margin: 0;
    left: 142px
  }

  .request .search {
    background: rgba(255, 255, 255, 0.0);
    top: 75px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 190px;
    font-family: 'HelveticaNeue', Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(74, 73, 74, 1.0);
    text-align: center;
    line-height: 16.0px
  }

  .request .requests {
    background: rgba(255, 255, 255, 0.0);
    top: 75px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 324px;
    font-family: 'HelveticaNeue', Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(74, 73, 74, 1.0);
    text-align: center;
    line-height: 16.0px
  }

  .request .messages {
    background: rgba(255, 255, 255, 0.0);
    top: 75px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 464px;
    font-family: 'HelveticaNeue', Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(74, 73, 74, 1.0);
    text-align: center;
    line-height: 16.0px
  }

  .request .dashboard {
    background: rgba(255, 255, 255, 0.0);
    top: 75px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 36px;
    font-family: 'HelveticaNeue', Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(74, 73, 74, 1.0);
    text-align: center;
    line-height: 16.0px
  }

  .request .group {
    background: rgba(255, 255, 255, 0.0);
    top: 7px;
    height: 40px;
    width: 142px;
    position: absolute;
    margin: 0;
    left: 13px
  }

  .request .group .beakr {
    background: rgba(255, 255, 255, 0.0);
    top: 8px;
    height: 31px;
    width: 110px;
    position: absolute;
    margin: 0;
    left: 32px
  }

  .request .group .beaker-full {
    background: rgba(255, 255, 255, 0.0);
    top: 0;
    height: 40px;
    width: 26px;
    position: absolute;
    margin: 0;
    left: 0
  }

  .request .group .beaker-full .beaker {
    background: rgba(255, 255, 255, 0.0);
    top: 0;
    height: 40px;
    width: 26px;
    position: absolute;
    margin: 0;
    left: 0
  }

  .request .group .beaker-full .beaker .combined-shape {
    background: rgba(255, 255, 255, 0.0);
    top: 0;
    height: 40px;
    width: 26px;
    position: relative;
    margin: 0;
    left: 0
  }

  .request .group .beaker-full .image2 {
    background: rgba(255, 255, 255, 0.0);
    top: 21px;
    height: 18px;
    width: 24px;
    position: absolute;
    margin: 0;
    left: 1px
  }

  .request .group .beaker-full .oval4 {
    background: rgba(217, 255, 175, 1.0);
    top: 29px;
    height: 8px;
    width: 8px;
    position: absolute;
    margin: 0;
    left: 7px;
    border-radius: 4px
  }

  .request .group .beaker-full .view12 {
    background: rgba(217, 255, 175, 1.0);
    top: 25px;
    height: 5px;
    width: 6px;
    position: absolute;
    margin: 0;
    left: 12px;
    border-radius: 3px
  }

  .request .group .beaker-full .view13 {
    background: rgba(217, 255, 175, 1.0);
    top: 31px;
    height: 3px;
    width: 3px;
    position: absolute;
    margin: 0;
    left: 16px;
    border-radius: 1px
  }

  .request .footer {
    background: rgba(255, 255, 255, 0.0);
    top: 795px;
    height: 166px;
    width: 1280px;
    position: absolute;
    margin: 0;
    left: 0
  }

  .request .footer .view14 {
    background: rgba(52, 52, 52, 1.0);
    top: 0;
    height: 166px;
    width: 1280px;
    position: absolute;
    margin: 0;
    left: 0
  }

  .request .footer .view15 {
    background: rgba(255, 255, 255, 0.0);
    top: 48px;
    height: 34px;
    width: 117px;
    position: absolute;
    margin: 0;
    left: 501px
  }

  .request .footer .view15 .image3 {
    background: rgba(255, 255, 255, 0.0);
    top: 6px;
    height: 27px;
    width: 91px;
    position: absolute;
    margin: 0;
    left: 26px
  }

  .request .footer .view15 .view16 {
    background: rgba(255, 255, 255, 0.0);
    top: 0;
    height: 34px;
    width: 22px;
    position: absolute;
    margin: 0;
    left: 0
  }

  .request .footer .view15 .view16 .view17 {
    background: rgba(255, 255, 255, 0.0);
    top: 0;
    height: 34px;
    width: 22px;
    position: absolute;
    margin: 0;
    left: 0
  }

  .request .footer .view15 .view16 .view17 .image4 {
    background: rgba(255, 255, 255, 0.0);
    top: 0;
    height: 34px;
    width: 22px;
    position: relative;
    margin: 0;
    left: 0
  }

  .request .footer .view15 .view16 .image5 {
    background: rgba(255, 255, 255, 0.0);
    top: 17px;
    height: 16px;
    width: 20px;
    position: absolute;
    margin: 0;
    left: 1px
  }

  .request .footer .view15 .view16 .view18 {
    background: rgba(217, 255, 175, 1.0);
    top: 24px;
    height: 7px;
    width: 6px;
    position: absolute;
    margin: 0;
    left: 6px;
    border-radius: 3px
  }

  .request .footer .view15 .view16 .view19 {
    background: rgba(217, 255, 175, 1.0);
    top: 20px;
    height: 5px;
    width: 5px;
    position: absolute;
    margin: 0;
    left: 10px;
    border-radius: 2px
  }

  .request .footer .view15 .view16 .view20 {
    background: rgba(217, 255, 175, 1.0);
    top: 25px;
    height: 3px;
    width: 3px;
    position: absolute;
    margin: 0;
    left: 13px;
    border-radius: 1px
  }

  .request .footer .est2017 {
    background: rgba(255, 255, 255, 0.0);
    top: 87px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 554px;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(216, 255, 171, 1.0);
    text-align: center;
    line-height: 17.0px
  }

  .request .footer .line4 {
    background: rgba(255, 255, 255, 0.0);
    top: 19px;
    height: 116px;
    width: 3px;
    position: absolute;
    margin: 0;
    left: 646px
  }

  .request .footer .contact-us-about-the {
    background: rgba(255, 255, 255, 0.0);
    top: 26px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 668px;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
    font-size: 16.0px;
    color: rgba(255, 255, 255, 1.0);
    text-align: left;
    line-height: 18.0px
  }

  .request .rectangle14 {
    background: rgba(255, 255, 255, 0.0);
    top: 191px;
    height: 543px;
    width: 648px;
    position: absolute;
    margin: 0;
    left: 316px
  }

  .request .rectangle2 {
    background: rgba(240, 240, 240, 1.0);
    top: 193px;
    height: 31px;
    width: 640px;
    position: absolute;
    margin: 0;
    left: 320px
  }

  .request .line {
    background: rgba(255, 255, 255, 0.0);
    top: 316px;
    height: 3px;
    width: 606px;
    position: absolute;
    margin: 0;
    left: 338px
  }

  .request .research-opportunity {
    background: rgba(255, 255, 255, 0.0);
    top: 237px;
    height: auto;
    width: 602px;
    position: absolute;
    margin: 0;
    left: 338px;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(52, 52, 52, 1.0);
    text-align: left;
    line-height: 17.0px
  }

  .request .label1 {
    background: rgba(255, 255, 255, 0.0);
    top: 237px;
    height: auto;
    width: 602px;
    position: absolute;
    margin: 0;
    left: 338px;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(52, 52, 52, 1.0);
    text-align: left;
    line-height: 17.0px
  }

  .request .image6 {
    background: rgba(255, 255, 255, 0.0);
    top: 407px;
    height: 3px;
    width: 606px;
    position: absolute;
    margin: 0;
    left: 338px
  }

  .request .undergraduate-resear {
    background: rgba(255, 255, 255, 0.0);
    top: 328px;
    height: auto;
    width: 602px;
    position: absolute;
    margin: 0;
    left: 338px;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(52, 52, 52, 1.0);
    text-align: left;
    line-height: 17.0px
  }

  .request .image7 {
    background: rgba(255, 255, 255, 0.0);
    top: 498px;
    height: 3px;
    width: 606px;
    position: absolute;
    margin: 0;
    left: 338px
  }

  .request .research-assistant-i {
    background: rgba(255, 255, 255, 0.0);
    top: 419px;
    height: auto;
    width: 602px;
    position: absolute;
    margin: 0;
    left: 338px;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(52, 52, 52, 1.0);
    text-align: left;
    line-height: 17.0px
  }

  .request .good-luck {
    background: rgba(255, 255, 255, 0.0);
    top: 145px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 320px;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
    font-size: 18.0px;
    color: rgba(126, 210, 33, 1.0);
    text-align: left;
    line-height: 22.0px
  }

  .request .message {
    background: rgba(255, 255, 255, 0.0);
    top: 282px;
    height: auto;
    width: 99px;
    position: absolute;
    margin: 0;
    left: 838px;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(126, 210, 33, 1.0);
    text-align: right;
    line-height: 17.0px
  }

  .request .status-awaiting {
    background: rgba(255, 255, 255, 0.0);
    top: 419px;
    height: auto;
    width: 110px;
    position: absolute;
    margin: 0;
    left: 827px;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(52, 52, 52, 1.0);
    text-align: right;
    line-height: 17.0px
  }

  .request .label2 {
    background: rgba(255, 255, 255, 0.0);
    top: 328px;
    height: auto;
    width: 110px;
    position: absolute;
    margin: 0;
    left: 827px;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(52, 52, 52, 1.0);
    text-align: right;
    line-height: 17.0px
  }

  .request .status-accepted {
    background: rgba(255, 255, 255, 0.0);
    top: 237px;
    height: auto;
    width: 110px;
    position: absolute;
    margin: 0;
    left: 827px;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(52, 52, 52, 1.0);
    text-align: right;
    line-height: 17.0px
  }

  .request .view {
    background: rgba(255, 255, 255, 0.0);
    top: 373px;
    height: auto;
    width: 99px;
    position: absolute;
    margin: 0;
    left: 838px;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(126, 210, 33, 1.0);
    text-align: right;
    line-height: 17.0px
  }

  .request .label3 {
    background: rgba(255, 255, 255, 0.0);
    top: 464px;
    height: auto;
    width: 99px;
    position: absolute;
    margin: 0;
    left: 838px;
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(126, 210, 33, 1.0);
    text-align: right;
    line-height: 17.0px
  }

  .anima-animate-appear {
    opacity: 0;
    display: block;
    -webkit-animation: anima-reveal .3s ease-in-out 1 normal forwards;
    -moz-animation: anima-reveal .3s ease-in 1 normal forwards;
    -o-animation: anima-reveal .3s ease-in-out 1 normal forwards;
    animation: anima-reveal .3s ease-in-out 1 normal forwards
  }

  .anima-animate-disappear {
    opacity: 1;
    display: block;
    -webkit-animation: anima-reveal .3s ease-in-out 1 reverse forwards;
    -moz-animation: anima-reveal .3s ease-in 1 normal forwards;
    -o-animation: anima-reveal .3s ease-in-out 1 reverse forwards;
    animation: anima-reveal .3s ease-in-out 1 reverse forwards
  }

  .anima-animate-nodelay {
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
    -o-animation-delay: 0;
    animation-delay: 0
  }

  @-webkit-keyframes anima-reveal {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }

  @-moz-keyframes anima-reveal {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }

  @-o-keyframes anima-reveal {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }

  @keyframes anima-reveal {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }
