<!DOCTYPE html>

<html>

<head>
  <link rel="shortcut icon" type=image/png href=https://animaapp.s3.amazonaws.com/home/favicon.png>
  <meta charset=UTF-8>
  <meta name=viewport content="width=1280px, maximum-scale=1.0">
  <meta name=author content="Launchpad by Anima">
</head>

<body style="margin: 0; background: rgba(255, 255, 255, 1.0);"><input type=hidden id=anPageName name=page value=about>
  <div class=about>
    <div style="width: 1280px; height: 100%; position:relative; margin:auto;">
      <div class=rectangle><input type=text name=trapit value style=display:none;></div>
      <div class=rectangle5><input type=text name=trapit value style=display:none;></div>
      <div class=login>Login</div>
      <div class=group><input type=text name=trapit value style=display:none;><img class=beakr src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5a9d8d1e2a2ecb000c4ffe01/img/sign up pagebeakr.png">
        <div class=beaker-full><input type=text name=trapit value style=display:none;>
          <div class=beaker><input type=text name=trapit value style=display:none;><img class=combined-shape src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5a9d8d1e2a2ecb000c4ffe01/img/sign up pagecombined shape.png"></div>
          <img class=image1 src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5a9d8d1e2a2ecb000c4ffe01/img/dashboard student  newcombined shape  1.png">
          <div class=oval4><input type=text name=trapit value style=display:none;></div>
          <div class=view1><input type=text name=trapit value style=display:none;></div>
          <div class=view2><input type=text name=trapit value style=display:none;></div>
        </div>
      </div>
      <div class=sign-up>Sign Up</div>
      <div class=view3><input type=text name=trapit value style=display:none;></div>
      <div class=support>Support</div>
      <div class=footer><input type=text name=trapit value style=display:none;>
        <div class=view4><input type=text name=trapit value style=display:none;></div>
        <div class=view5><input type=text name=trapit value style=display:none;><img class=image2 src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5a9d8d1e2a2ecb000c4ffe01/img/search student beakr  1.png">
          <div class=view6><input type=text name=trapit value style=display:none;>
            <div class=view7><input type=text name=trapit value style=display:none;><img class=image3 src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5a9d8d1e2a2ecb000c4ffe01/img/landing pagecombined shape  2.png"></div>
            <img class=image4 src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5a9d8d1e2a2ecb000c4ffe01/img/landing pagecombined shape  3.png">
            <div class=view8><input type=text name=trapit value style=display:none;></div>
            <div class=view9><input type=text name=trapit value style=display:none;></div>
            <div class=view10><input type=text name=trapit value style=display:none;></div>
          </div>
        </div>
        <div class=est2017>est. 2017</div><img class=line4 src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5a9d8d1e2a2ecb000c4ffe01/img/sign up pageline 4.png">
        <div class=contact-us-about-the><a href=contact style="color: white;">Contact Us</a><br><br><a href=about style="color: white;">About the Team</a><br><br><a href=support style="color: white;">Support</a><br></div>
      </div>
      <div class=label1>About the Team</div><img class=image5 src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5ad5b37f989440000bc5a18f/img/aboutline 4  1.png">
      <div class=view11><input type=text name=trapit value style=display:none;><img class=oval6 src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5ad5b37f989440000bc5a18f/img/aboutoval 6.png">
        <div class=view12><input type=text name=trapit value style=display:none;>
          <div class=view13><input type=text name=trapit value style=display:none;><img class=image6 src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5ad5b37f989440000bc5a18f/img/aboutcombined shape  4.png"></div>
          <img class=image7 src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5ad5b37f989440000bc5a18f/img/aboutcombined shape  5.png">
          <div class=view14><input type=text name=trapit value style=display:none;></div>
          <div class=view15><input type=text name=trapit value style=display:none;></div>
          <div class=view16><input type=text name=trapit value style=display:none;></div>
        </div>
      </div>
      <div class=hunter-ginther>Hunter Ginther</div>
      <div class=web-mobile-develop>Mobile Developer</div>
      <div class=brandon-splitter>Brandon Splitter</div>
      <div class=designer-web-devel>Algorithm &amp; Web Developer </div>
      <div class=web-developer-data>Web Developer</div>
      <div class=web-developer-netw>Network Architect</div>
      <div class=label2>Designer &amp; Web Developer</div>
      <div class=sam-kroeger>Sam Kroeger</div>
      <div class=jack-martin>Jack Martin</div>
      <div class=miranda-reese>Miranda Reese</div>
      <div class=a20171021114513><input type=text name=trapit value style=display:none;><img class=image8 src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5ad5b37f989440000bc5a18f/img/about 20171021114513.png"></div>
      <div class=bitmap><input type=text name=trapit value style=display:none;><img class=image9 src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5ad5b37f989440000bc5a18f/img/about bitmap.png"></div>
      <div class=view17><input type=text name=trapit value style=display:none;><img class=image10 src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5ad5b37f989440000bc5a18f/img/about bitmap  1.png"></div>
      <div class=view18><input type=text name=trapit value style=display:none;><img class=image11 src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5ad5b37f989440000bc5a18f/img/about bitmap  2.png"></div>
      <div class=headshot-s-reese-miranda-c><input type=text name=trapit value style=display:none;><img class=image12 src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5ad5b37f989440000bc5a18f/img/about headshotsreesemirandac.png"></div>
      <div class=team-beakr-was-forme>Team beakr was formed in 2017. Inspired from an exasperated post from a student researcher, our goal to create a better experience for both undergraduate researchers and faculty began. We hope to expand to any and all college campuses across the
        nation.
      </div>
    </div>
  </div>
  <script>
    anima_isHidden = function(e) {
      if (!(e instanceof HTMLElement)) return !1;
      if (getComputedStyle(e).display == "none") return !0;
      else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
      return !1
    };
    anima_loadAsyncSrcForTag = function(tag) {
      var elements = document.getElementsByTagName(tag);
      var toLoad = [];
      for (var i = 0; i < elements.length; i++) {
        var e = elements[i];
        var src = e.getAttribute("src");
        var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
        if (loaded) continue;
        var asyncSrc = e.getAttribute("anima-src");
        if (asyncSrc == undefined || asyncSrc.length == 0) continue;
        if (anima_isHidden(e)) continue;
        toLoad.push(e)
      }
      toLoad.sort(function(a, b) {
        return anima_getTop(a) - anima_getTop(b)
      });
      for (var i = 0; i < toLoad.length; i++) {
        var e = toLoad[i];
        var asyncSrc = e.getAttribute("anima-src");
        e.setAttribute("src", asyncSrc)
      }
    };
    anima_pauseHiddenVideos = function(tag) {
      var elements = document.getElementsByTagName("video");
      for (var i = 0; i < elements.length; i++) {
        var e = elements[i];
        var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
        var isHidden = anima_isHidden(e);
        if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
          e.play()
        } else if (isPlaying && isHidden) {
          e.pause()
        }
      }
    };
    anima_loadAsyncSrc = function(tag) {
      anima_loadAsyncSrcForTag("img");
      anima_loadAsyncSrcForTag("iframe");
      anima_loadAsyncSrcForTag("video");
      anima_pauseHiddenVideos()
    };
    var anima_getTop = function(e) {
      var top = 0;
      do {
        top += e.offsetTop || 0;
        e = e.offsetParent
      } while (e);
      return top
    };
    anima_loadAsyncSrc();
    anima_old_onResize = window.onresize;
    anima_new_onResize = undefined;
    anima_updateOnResize = function() {
      if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
        anima_new_onResize = function(x) {
          if (anima_old_onResize != undefined) anima_old_onResize(x);
          anima_loadAsyncSrc()
        }
        window.onresize = anima_new_onResize;
        setTimeout(function() {
          anima_updateOnResize()
        }, 3000)
      }
    };
    anima_updateOnResize();
    setTimeout(function() {
      anima_loadAsyncSrc()
    }, 200)
  </script>
  <script src=launchpad-js/launchpad-banner.js async></script>
  <script src="/main.js"></script>
</body>

</html>
