<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" type=image/png href=https://animaapp.s3.amazonaws.com/home/favicon.png>
  <meta charset=UTF-8>
  <meta name=viewport content="width=1280px, maximum-scale=1.0">
  <meta name=author content="Launchpad by Anima">
</head>

<body style="margin: 0; background: rgba(255, 255, 255, 1.0);"><input type=hidden id=anPageName name=page value=support>
  <div class=support>
    <div style="width: 1280px; height: 100%; position:relative; margin:auto;">
      <div class=rectangle><input type=text name=trapit value style=display:none;></div>
      <div class=rectangle5><input type=text name=trapit value style=display:none;></div>
      <div class=login>Login</div>
      <div class=group><input type=text name=trapit value style=display:none;><img class=beakr src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5a9d8d1e2a2ecb000c4ffe01/img/sign up pagebeakr.png">
        <div class=beaker-full><input type=text name=trapit value style=display:none;>
          <div class=beaker><input type=text name=trapit value style=display:none;><img class=combined-shape src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5a9d8d1e2a2ecb000c4ffe01/img/sign up pagecombined shape.png"></div>
          <img class=image1 src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5a9d8d1e2a2ecb000c4ffe01/img/dashboard student  newcombined shape  1.png">
          <div class=oval4><input type=text name=trapit value style=display:none;></div>
          <div class=view1><input type=text name=trapit value style=display:none;></div>
          <div class=view2><input type=text name=trapit value style=display:none;></div>
        </div>
      </div>
      <div class=sign-up>Sign Up</div>
      <div class=view3><input type=text name=trapit value style=display:none;></div>
      <div class=about-the-team>About the Team</div>
      <div class=label1>Support</div>
      <div class=contact-us>Contact Us</div>
      <div class=oval><input type=text name=trapit value style=display:none;></div>
      <div class=view4><input type=text name=trapit value style=display:none;></div>
      <div class=view5><input type=text name=trapit value style=display:none;></div>
      <div class=view6><input type=text name=trapit value style=display:none;></div>
      <div class=view7><input type=text name=trapit value style=display:none;></div>
      <div class=view8><input type=text name=trapit value style=display:none;></div>
      <div class=view9><input type=text name=trapit value style=display:none;></div>
      <div class=view10><input type=text name=trapit value style=display:none;></div><img class=image2 src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5a9d8d1e2a2ecb000c4ffe01/img/sign up pageoval.png">
      <div class=footer><input type=text name=trapit value style=display:none;>
        <div class=view11><input type=text name=trapit value style=display:none;></div>
        <div class=view12><input type=text name=trapit value style=display:none;><img class=image3 src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5a9d8d1e2a2ecb000c4ffe01/img/search student beakr  1.png">
          <div class=view13><input type=text name=trapit value style=display:none;>
            <div class=view14><input type=text name=trapit value style=display:none;><img class=image4 src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5a9d8d1e2a2ecb000c4ffe01/img/landing pagecombined shape  2.png"></div>
            <img class=image5 src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5a9d8d1e2a2ecb000c4ffe01/img/landing pagecombined shape  3.png">
            <div class=view15><input type=text name=trapit value style=display:none;></div>
            <div class=view16><input type=text name=trapit value style=display:none;></div>
            <div class=view17><input type=text name=trapit value style=display:none;></div>
          </div>
        </div>
        <div class=est2017>est. 2017</div><img class=line4 src="https://anima-uploads.s3.amazonaws.com/5a95a11f9d633a000da9c9e2/5a9d8d1c2a2ecb000b023426/5a9d8d1e2a2ecb000c4ffe01/img/sign up pageline 4.png">
        <div class=contact-us-about-the>Contact Us<br><br>About the Team<br><br>Support<br></div>
      </div>
      <div class=we-are-here-to-help>We are here to help. Look through our FAQ to see if we can solve your problem. Or contact us directly!</div>
      <div class=dont-see-your-quest>Don`t see your question? Reach out to us!</div>
      <div class=how-can-i-bring-be> • How can I bring beakr to my school?<br><br> • I am a professor, how do I create my account?<br><br> • How do I update my profile?<br><br> • How many times can I apply to a program?<br> ⁃ You are allowed to apply for a maximum of 10 programs a
        day. This is to ensure that a professor is not overwhelmed by too many applicants, and that you are using your time efficiently and really thinking about what programs might interest you. You can reapply for a program if it is a new application,
        however, once the research opportunity is closed, you can no longer apply.<br><br> • When will I hear back about my application status?<br><br> • What is the success rate of the matching algorithm?<br><br> • How does the algorithm work?<br><br>        • What do I do once I am accepted?<br></div>
      <div class=rectangle3><input type=text name=trapit value style=display:none;></div>
      <div class=label2>Contact Us</div>
    </div>
  </div>
  <script>
    anima_isHidden = function(e) {
      if (!(e instanceof HTMLElement)) return !1;
      if (getComputedStyle(e).display == "none") return !0;
      else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
      return !1
    };
    anima_loadAsyncSrcForTag = function(tag) {
      var elements = document.getElementsByTagName(tag);
      var toLoad = [];
      for (var i = 0; i < elements.length; i++) {
        var e = elements[i];
        var src = e.getAttribute("src");
        var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
        if (loaded) continue;
        var asyncSrc = e.getAttribute("anima-src");
        if (asyncSrc == undefined || asyncSrc.length == 0) continue;
        if (anima_isHidden(e)) continue;
        toLoad.push(e)
      }
      toLoad.sort(function(a, b) {
        return anima_getTop(a) - anima_getTop(b)
      });
      for (var i = 0; i < toLoad.length; i++) {
        var e = toLoad[i];
        var asyncSrc = e.getAttribute("anima-src");
        e.setAttribute("src", asyncSrc)
      }
    };
    anima_pauseHiddenVideos = function(tag) {
      var elements = document.getElementsByTagName("video");
      for (var i = 0; i < elements.length; i++) {
        var e = elements[i];
        var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
        var isHidden = anima_isHidden(e);
        if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
          e.play()
        } else if (isPlaying && isHidden) {
          e.pause()
        }
      }
    };
    anima_loadAsyncSrc = function(tag) {
      anima_loadAsyncSrcForTag("img");
      anima_loadAsyncSrcForTag("iframe");
      anima_loadAsyncSrcForTag("video");
      anima_pauseHiddenVideos()
    };
    var anima_getTop = function(e) {
      var top = 0;
      do {
        top += e.offsetTop || 0;
        e = e.offsetParent
      } while (e);
      return top
    };
    anima_loadAsyncSrc();
    anima_old_onResize = window.onresize;
    anima_new_onResize = undefined;
    anima_updateOnResize = function() {
      if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
        anima_new_onResize = function(x) {
          if (anima_old_onResize != undefined) anima_old_onResize(x);
          anima_loadAsyncSrc()
        }
        window.onresize = anima_new_onResize;
        setTimeout(function() {
          anima_updateOnResize()
        }, 3000)
      }
    };
    anima_updateOnResize();
    setTimeout(function() {
      anima_loadAsyncSrc()
    }, 200)
  </script>
  <script src=launchpad-js/launchpad-banner.js async></script>
  <script src="/main.js"></script>
</body>

</html>
