.login-page {
  width: 100%;
  min-width: 1280px;
  height: 100vh;
  min-height: 850px;
  position: relative;
  overflow: hidden;
  margin: 0;
  background: rgba(255, 255, 255, 1.0)
}

a {
  text-decoration: none
}

div {
  -webkit-text-size-adjust: none
}

.login-page .rectangle {
  background: rgba(52, 52, 52, 1.0);
  top: 0;
  height: 56px;
  width: 1280px;
  position: absolute;
  margin: 0;
  left: 0
}

.login-page .rectangle5 {
  background: rgba(126, 210, 33, 1.0);
  top: 14px;
  height: 31px;
  width: 81px;
  position: absolute;
  margin: 0;
  left: 1183px
}

.login-page .rectangle9 {
  background: rgba(255, 255, 255, 0.0);
  top: 119px;
  height: 480px;
  width: 582px;
  position: absolute;
  margin: 0;
  left: 349px
}

.login-page .welcome-back-did-yo {
  background: rgba(255, 255, 255, 0.0);
  top: 210px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 445px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(74, 73, 74, 1.0);
  text-align: center;
  line-height: 17.0px
}

.login-page .rectangle3 {
  background: rgba(126, 210, 33, 1.0);
  top: 429px;
  height: 57px;
  width: 242px;
  position: absolute;
  margin: 0;
  left: 519px
}

.login-page .view1 {
  background: rgba(255, 255, 255, 0.0);
  top: 503px;
  height: 57px;
  width: 242px;
  position: absolute;
  margin: 0;
  left: 519px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(126, 210, 33, 1.0)
}

.login-page .login {
  background: rgba(255, 255, 255, 0.0);
  top: 22px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1107px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(126, 210, 33, 1.0);
  text-align: center;
  line-height: 16.0px
}

.login-page .group {
  background: rgba(255, 255, 255, 0.0);
  top: 7px;
  height: 40px;
  width: 142px;
  position: absolute;
  margin: 0;
  left: 13px
}

.login-page .group .beakr {
  background: rgba(255, 255, 255, 0.0);
  top: 8px;
  height: 31px;
  width: 110px;
  position: absolute;
  margin: 0;
  left: 32px
}

.login-page .group .beaker-full {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 40px;
  width: 26px;
  position: absolute;
  margin: 0;
  left: 0
}

.login-page .group .beaker-full .beaker {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 40px;
  width: 26px;
  position: absolute;
  margin: 0;
  left: 0
}

.login-page .group .beaker-full .beaker .combined-shape {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 40px;
  width: 26px;
  position: relative;
  margin: 0;
  left: 0
}

.login-page .group .beaker-full .image1 {
  background: rgba(255, 255, 255, 0.0);
  top: 21px;
  height: 18px;
  width: 24px;
  position: absolute;
  margin: 0;
  left: 1px
}

.login-page .group .beaker-full .oval4 {
  background: rgba(217, 255, 175, 1.0);
  top: 29px;
  height: 8px;
  width: 8px;
  position: absolute;
  margin: 0;
  left: 7px;
  border-radius: 4px
}

.login-page .group .beaker-full .view2 {
  background: rgba(217, 255, 175, 1.0);
  top: 25px;
  height: 5px;
  width: 6px;
  position: absolute;
  margin: 0;
  left: 12px;
  border-radius: 3px
}

.login-page .group .beaker-full .view3 {
  background: rgba(217, 255, 175, 1.0);
  top: 31px;
  height: 3px;
  width: 3px;
  position: absolute;
  margin: 0;
  left: 16px;
  border-radius: 1px
}

.login-page .view4 {
  background: rgba(255, 255, 255, 0.0);
  top: 129px;
  height: 59px;
  width: 205px;
  position: absolute;
  margin: 0;
  left: 538px
}

.login-page .view4 .image2 {
  background: rgba(255, 255, 255, 0.0);
  top: 11px;
  height: 46px;
  width: 159px;
  position: absolute;
  margin: 0;
  left: 46px
}

.login-page .view4 .view5 {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 59px;
  width: 38px;
  position: absolute;
  margin: 0;
  left: 0
}

.login-page .view4 .view5 .view6 {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 59px;
  width: 38px;
  position: absolute;
  margin: 0;
  left: 0
}

.login-page .view4 .view5 .view6 .image3 {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 59px;
  width: 38px;
  position: relative;
  margin: 0;
  left: 0
}

.login-page .view4 .view5 .image4 {
  background: rgba(255, 255, 255, 0.0);
  top: 30px;
  height: 27px;
  width: 34px;
  position: absolute;
  margin: 0;
  left: 2px
}

.login-page .view4 .view5 .view7 {
  background: rgba(217, 255, 175, 1.0);
  top: 42px;
  height: 12px;
  width: 11px;
  position: absolute;
  margin: 0;
  left: 10px;
  border-radius: 5px
}

.login-page .view4 .view5 .view8 {
  background: rgba(217, 255, 175, 1.0);
  top: 36px;
  height: 7px;
  width: 8px;
  position: absolute;
  margin: 0;
  left: 18px;
  border-radius: 4px
}

.login-page .view4 .view5 .view9 {
  background: rgba(217, 255, 175, 1.0);
  top: 45px;
  height: 4px;
  width: 5px;
  position: absolute;
  margin: 0;
  left: 23px;
  border-radius: 2px
}

.login-page .sign-up {
  background: rgba(255, 255, 255, 0.0);
  top: 22px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 1197px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(74, 73, 74, 1.0);
  text-align: center;
  line-height: 16.0px
}

.login-page .view10 {
  background: rgba(255, 255, 255, 0.0);
  top: 15px;
  height: 31px;
  width: 81px;
  position: absolute;
  margin: 0;
  left: 1085px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(126, 210, 33, 1.0)
}

.login-page .about-the-team {
  background: rgba(255, 255, 255, 0.0);
  top: 21px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 815px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(126, 210, 33, 1.0);
  text-align: center;
  line-height: 16.0px
}

.login-page .support {
  background: rgba(255, 255, 255, 0.0);
  top: 21px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 963px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(126, 210, 33, 1.0);
  text-align: center;
  line-height: 16.0px
}

.login-page .contact-us {
  background: rgba(255, 255, 255, 0.0);
  top: 21px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 689px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(126, 210, 33, 1.0);
  text-align: center;
  line-height: 16.0px
}

.login-page .rectangle7 {
  background: rgba(215, 215, 215, 1.0);
  top: 329px;
  height: 49px;
  width: 429px;
  position: absolute;
  margin: 0;
  left: 420px;
  border-radius: 12px
}

.login-page .view11 {
  background: rgba(215, 215, 215, 1.0);
  top: 260px;
  height: 49px;
  width: 429px;
  position: absolute;
  margin: 0;
  left: 420px;
  border-radius: 12px
}

.login-page .username {
  background: rgba(255, 255, 255, 0.0);
  top: 277px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 439px;
  font-family: 'STHeitiSC-Light', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(154, 154, 155, 1.0);
  text-align: center;
  line-height: 14.0px
}

.login-page .password {
  background: rgba(255, 255, 255, 0.0);
  top: 346px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 439px;
  font-family: 'STHeitiSC-Light', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(154, 154, 155, 1.0);
  text-align: center;
  line-height: 14.0px
}

.login-page .forgot-password {
  background: rgba(255, 255, 255, 0.0);
  top: 398px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 751px;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(126, 210, 33, 1.0);
  text-align: center;
  line-height: 14.0px
}

.login-page .remember-me {
  background: rgba(255, 255, 255, 0.0);
  top: 398px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 440px;
  font-family: 'Arial', Helvetica, Arial, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.0px;
  color: rgba(126, 210, 33, 1.0);
  text-align: left;
  line-height: 14.0px
}

.login-page .rectangle8 {
  background: rgba(255, 255, 255, 1.0);
  top: 398px;
  height: 15px;
  width: 15px;
  position: absolute;
  margin: 0;
  left: 420px
}

.login-page .label1 {
  background: rgba(255, 255, 255, 0.0);
  top: 444px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 609px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 24.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: center;
  line-height: 29.0px
}

.login-page .wait-i-dont-have-a {
  background: rgba(255, 255, 255, 0.0);
  top: 521px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 540px;
  font-family: 'HelveticaNeue', Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(126, 210, 33, 1.0);
  text-align: left;
  line-height: 18.0px
}

.login-page .oval {
  background: rgba(217, 255, 175, 1.0);
  top: 439px;
  height: 76px;
  width: 74px;
  position: absolute;
  margin: 0;
  left: 40px;
  border-radius: 37px
}

.login-page .view12 {
  background: rgba(217, 255, 175, 1.0);
  top: 311px;
  height: 79px;
  width: 76px;
  position: absolute;
  margin: 0;
  left: 87px;
  border-radius: 38px
}

.login-page .view13 {
  background: rgba(217, 255, 175, 1.0);
  top: 644px;
  height: 225px;
  width: 225px;
  position: absolute;
  margin: 0;
  left: 45px;
  border-radius: 112px
}

.login-page .view14 {
  background: rgba(217, 255, 175, 1.0);
  top: 412px;
  height: 42px;
  width: 41px;
  position: absolute;
  margin: 0;
  left: 159px;
  border-radius: 20px
}

.login-page .view15 {
  background: rgba(217, 255, 175, 1.0);
  top: 187px;
  height: 41px;
  width: 39px;
  position: absolute;
  margin: 0;
  left: 119px;
  border-radius: 19px
}

.login-page .view16 {
  background: rgba(217, 255, 175, 1.0);
  top: 246px;
  height: 30px;
  width: 29px;
  position: absolute;
  margin: 0;
  left: 151px;
  border-radius: 14px
}

.login-page .view17 {
  background: rgba(217, 255, 175, 1.0);
  top: 140px;
  height: 17px;
  width: 16px;
  position: absolute;
  margin: 0;
  left: 163px;
  border-radius: 8px
}

.login-page .view18 {
  background: rgba(217, 255, 175, 1.0);
  top: 95px;
  height: 17px;
  width: 16px;
  position: absolute;
  margin: 0;
  left: 134px;
  border-radius: 8px
}

.login-page .image5 {
  background: rgba(255, 255, 255, 0.0);
  top: 508px;
  height: 115px;
  width: 117px;
  position: absolute;
  margin: 0;
  left: 110px
}

.login-page .footer {
  background: rgba(255, 255, 255, 0.0);
  top: 685px;
  height: 166px;
  width: 1280px;
  position: absolute;
  margin: 0;
  left: 0
}

.login-page .footer .view19 {
  background: rgba(52, 52, 52, 1.0);
  top: 0;
  height: 166px;
  width: 1280px;
  position: absolute;
  margin: 0;
  left: 0
}

.login-page .footer .view20 {
  background: rgba(255, 255, 255, 0.0);
  top: 48px;
  height: 34px;
  width: 117px;
  position: absolute;
  margin: 0;
  left: 501px
}

.login-page .footer .view20 .image6 {
  background: rgba(255, 255, 255, 0.0);
  top: 6px;
  height: 27px;
  width: 91px;
  position: absolute;
  margin: 0;
  left: 26px
}

.login-page .footer .view20 .view21 {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 34px;
  width: 22px;
  position: absolute;
  margin: 0;
  left: 0
}

.login-page .footer .view20 .view21 .view22 {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 34px;
  width: 22px;
  position: absolute;
  margin: 0;
  left: 0
}

.login-page .footer .view20 .view21 .view22 .image7 {
  background: rgba(255, 255, 255, 0.0);
  top: 0;
  height: 34px;
  width: 22px;
  position: relative;
  margin: 0;
  left: 0
}

.login-page .footer .view20 .view21 .image8 {
  background: rgba(255, 255, 255, 0.0);
  top: 17px;
  height: 16px;
  width: 20px;
  position: absolute;
  margin: 0;
  left: 1px
}

.login-page .footer .view20 .view21 .view23 {
  background: rgba(217, 255, 175, 1.0);
  top: 24px;
  height: 7px;
  width: 6px;
  position: absolute;
  margin: 0;
  left: 6px;
  border-radius: 3px
}

.login-page .footer .view20 .view21 .view24 {
  background: rgba(217, 255, 175, 1.0);
  top: 20px;
  height: 5px;
  width: 5px;
  position: absolute;
  margin: 0;
  left: 10px;
  border-radius: 2px
}

.login-page .footer .view20 .view21 .view25 {
  background: rgba(217, 255, 175, 1.0);
  top: 25px;
  height: 3px;
  width: 3px;
  position: absolute;
  margin: 0;
  left: 13px;
  border-radius: 1px
}

.login-page .footer .est2017 {
  background: rgba(255, 255, 255, 0.0);
  top: 87px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 554px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(216, 255, 171, 1.0);
  text-align: center;
  line-height: 17.0px
}

.login-page .footer .line4 {
  background: rgba(255, 255, 255, 0.0);
  top: 19px;
  height: 116px;
  width: 3px;
  position: absolute;
  margin: 0;
  left: 646px
}

.login-page .footer .contact-us-about-the {
  background: rgba(255, 255, 255, 0.0);
  top: 26px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 668px;
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: left;
  line-height: 18.0px
}

.anima-animate-appear {
  opacity: 0;
  display: block;
  -webkit-animation: anima-reveal .3s ease-in-out 1 normal forwards;
  -moz-animation: anima-reveal .3s ease-in 1 normal forwards;
  -o-animation: anima-reveal .3s ease-in-out 1 normal forwards;
  animation: anima-reveal .3s ease-in-out 1 normal forwards
}

.anima-animate-disappear {
  opacity: 1;
  display: block;
  -webkit-animation: anima-reveal .3s ease-in-out 1 reverse forwards;
  -moz-animation: anima-reveal .3s ease-in 1 normal forwards;
  -o-animation: anima-reveal .3s ease-in-out 1 reverse forwards;
  animation: anima-reveal .3s ease-in-out 1 reverse forwards
}

.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0
}

@-webkit-keyframes anima-reveal {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-moz-keyframes anima-reveal {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-o-keyframes anima-reveal {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes anima-reveal {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
